* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#main {
  display: flex;
  flex-direction: column;
}

.nav_bar {
  display: flex;
  width: 100vw;
  height: 7vh;
  border: 1px solid transparent;
  border-bottom-color: #e8e8e8;
  align-items: center;
  justify-content: center;
}

.main_page {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
}

.login_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 500;
  width: 13rem;
  height: 3rem;
  background-color: #00c854;
  border-radius: 0.3rem;
  color: white;
}

.right_space {
  width: 50vw;
}
