.post {
  border: 1px solid #e8e8e8;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.4rem;
}

.category {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border: 1px solid transparent;
  border-bottom-color: #e8e8e8;
  color: #bcc0c2;
  font-size: 1.5rem;
}

.post_info {
  padding: 1rem 0;
}

.post_info .user_id {
  border: 1px solid transparent;
  color: #00c854;
  padding-right: 0.7rem;
  border-right-color: #e8e8e8;
}

.post_info .created_at {
  margin-left: 0.7rem;
  color: #71767c;
}

.post > .title {
  font-size: 1.8rem;
  margin-bottom: 0.7rem;
}

.post > .content {
  font-size: 1.3rem;
  color: #63696f;
}
